.wrapper {
    padding: 8px;
}

.heading
{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.tab-item {
    display: inline;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #4e0168;
}

.tab-item.active {
    border-color: black;
    background : lime;
    color : white ;
}

.content {
    overflow: auto;
    background-color: white;
}